<a [routerLink]="['/texts/add']">Add Text</a>



<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Words to learn</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let text of texts">
    <td><a [routerLink]="[text.id,text.urlSlug]"><span>{{text.name}}</span></a> </td>
    <td>{{text.unKnownWords}}/{{text.nrOfWords}}</td>
    <td>
      <button (click)="onEdit(text)">Edit</button></td>
    <td><button (click)="onDelete(text.id)" class="btn btn-danger">x</button></td>
  </tr>

  </tbody>
</table>
