<div *ngIf="word">


  <form (ngSubmit)="onSubmit(wordForm)" #wordForm="ngForm">

    <p>{{word.word}}</p>

    <div class="form-group">
      <label for="translations">Translations:</label>
      <textarea [(ngModel)]="word.translations" class="form-control" name="translations" id="translations" cols="30"
                rows="10"></textarea>
    </div>

    <div class="form-group">

      <label for="tags">Tags:</label>
      <textarea [(ngModel)]="word.tags" class="form-control" name="tags" id="tags" cols="30" rows="10"></textarea>

    </div>
    <button type="submit" class="btn btn-success">{{isKnown?'Update':'Add'}}</button>

  </form>
</div>
